
{#
/**
 * @file
 * Image CTA Paragraph
 *
 * Template for the Image CTA paragraph type.
 *
 * Available variables:
 *
 * {{ paragraph_content }}
 *
 */
#}
{%- set attributes = attributes.addClass(['su-image-cta-paragraph', modifier_class]) -%}

<div{{ attributes }}>
  <a href="{{ paragraph_content.stanford_image_cta_link[0]['#url']|render|striptags|trim }}">
    {{ paragraph_content }}
  </a>
</div>
